<div class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>About Us</h2>
        <div class="content">
          1080X is a leading software company in SriLanka which provide end to end sollutions to customers. Our main
          products are Web applications, Desktop applications and Java applications. We use new and stable technologies
          which we can provide best software sollutions to our customers. The main technologies that we are using are
          Angular 7, Java, Spring, NodeJs, MySql, MongoDB etc. Our Aim is to provide the best service and software sollution
          to you.
        </div>
      </div>
      <div class="col-md-6">
        <div class="technology">
          <h6 class="example-h2">Angular 7</h6>
          <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
        </div>
        <div class="technology">
          <h6 class="example-h2">Java</h6>
          <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
        </div>
        <div class="technology">
          <h6 class="example-h2">Spring</h6>
          <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </div>
        <div class="technology">
          <h6 class="example-h2">NodeJs</h6>
          <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
        </div>
        <div class="technology">
          <h6 class="example-h2">MySql</h6>
          <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
        </div>
        <div class="technology">
          <h6 class="example-h2">MongoDb</h6>
          <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
        </div>

      </div>
    </div>
  </div>

</div>
