<div class="services">
  <div class="container">
    <h1>Our Services</h1>
    <div class="row service-types">
      <div class="col-md-3">
        <div class="icon">
          <mat-icon>devices</mat-icon>
        </div>
        <h3>Web Development</h3>
        <p>We provide web sollutions for your buisness. Get developed your webapp or website from us </p>
      </div>
      <div class="col-md-3">
        <div class="icon">
          <mat-icon>computer</mat-icon>
        </div>
        <h3>Desktop App Development</h3>
        <p>We provide web sollutions for your buisness. Get developed your webapp or website from us </p>
      </div>
      <div class="col-md-3">
        <div class="icon">
          <i class="fa fa-code" aria-hidden="true"></i>
        </div>
        <h3>Java App Development</h3>
        <p>We provide web sollutions for your buisness. Get developed your webapp or website from us </p>
      </div>
      <div class="col-md-3">
        <div class="icon">
          <i class="fa fa-tasks" aria-hidden="true"></i>
        </div>
        <h3>Destributed Systems Development</h3>
        <p>We provide web sollutions for your buisness. Get developed your webapp or website from us </p>
      </div>
    </div>
  </div>
</div>
